.img__control__page {
    background-image: url(../../../assets/wallpapers/starsWall.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}